* {
  box-sizing: border-box;
  margin: 40px;
  padding: 0px;
  font-family: sans-serif;
  background-color: grey;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#break {
  float: right;
}
#session {
  float: left;
}
