* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: grey;
}
#drum-machine {
  border: 2px black solid;
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  top: 200px;
  left: 75px;
}
#display {
  display: flex;
}

.drum-pad {
  background-color: aliceblue;

  padding: 20px 20px;
}
